# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Whisper folder (if cloned)
whisper/

# Audio files
audios/
*.mp3
*.wav

# JSON outputs
*.json

# Streamlit secrets
.streamlit/

# System files
.DS_Store
Thumbs.db

# Large temporary files
*.log